<style>

* {font:14px arial,sans-serif;}
p {margin:28px 0 3px 0;}

.divFixHeaderCol {
  position:relative;
  border:1;
  border-left:2px solid #d0d0d0;
  border-bottom:1px solid #d0d0d0;
  overflow:hidden;
}
.divFixHeaderCol table {border-collapse:collapse;}
.divFixHeaderCol td {
  /*font:400 16px tahoma,arial,sans-serif; */
  padding:5px;
  border:1px solid #d0d0d0;
  border-left:0;
  background:#fff;
  min-height:19px; /* если высота клиентской части в ячейке меньше 14px, то IE криво отрисовывает горизонтальные линии в фиксированной области */
  /* Самое интересное, что padding ни на что не влияет. Можно, например, сделать padding=16px и если клиентская высота < 14px, то всё равно IE криво отрисует линии */
  /* Если padding=0, а клиентская высота >= 14px, то будет нормально, IE ровно отрисует линии */
}
.divFixHeaderCol .fixRegion td {
  background:#fff no-repeat;
  background-image:linear-gradient(#eee,#eee);
  background-position:1px 1px;
}
.cntr {text-align:center;}
</style>
